html {
    width: 100%;
}

body {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1{
  text-align: center;
}

section.form {
    padding: 1rem;
}

form[name="addTodo"] {
    display: flex;
}

input[type="text"] {
    flex: 1;
}

form[name="addTodo"]>input,
form[name="addTodo"]>label {
    font-size: 1.5rem;
}

@media screen and (max-width: 540px) {
	form[name="addTodo"] {
		flex-direction: column;
	}		
}

section.todos {
    display: flex;
    flex-direction: column;
}

article {
    background-color: rgb(108, 208, 255);
    margin: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 1rem;
    box-shadow: 10px 5px 5px black;
}

article:hover {
    box-shadow: none;
    background-color: lightgrey;
    cursor: pointer;
}

article.done>span {
    color:black;
    text-decoration: line-through;
}

article
{
 -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
}

button {
 background-color: rgb(64, 64, 212);
 color :white;
  margin: 20px;
  text-align: center;
  width: 150px;
  border-radius: 20px;
  height: 50px;
  font-size:medium;
}

button:hover {
  background-color: rgb(1, 0, 75);
  cursor: pointer;
}

.Add{
  background-color: rgb(88, 158, 182);
  border-radius: 5px;
  color:white;
  height: 45px;

}
label{
  margin-right: 5px;
}

.zoneText{
  margin-right: 5px;
}

.mdc-banner{
  background-color:aliceblue;
  text-align: center;
  border-radius: 10px;
}
.mdc-banner__actions{
  text-align: right;
}

.mdc-banner__text{
  font-size: large;
  padding: 10px;
}

.mdc-snackbar{
  background-color: aliceblue;
  text-align: left;
  border-radius: 10px;
}
.mdc-snackbar__actions{
  text-align: right;
}
.mdc-snackbar__label{
  font-size: large;
  padding : 10px;
}



@media all and (display-mode: standalone) {
    body {
      background-color: yellow;
    }
  }

  .hidden{
      display: none;
      text-align: left;
  }


  #loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  #loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  #loader:after {
    background:rgb(174, 255, 241);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .bouton{
    flex-direction: row;
    text-align-last: center;
  }
